<template>
  <div>
    <Nuxt />
    <footer>
  <div class="container">
    <div>
      <div id="logofooter">
        <NuxtLink to="/">
        <img src="/img/logo.png" />
        </NuxtLink>
      </div>
      <div id="footermenu">
        <NuxtLink to="/projecte">Projecte </NuxtLink>
        <NuxtLink to="/equip">Equip </NuxtLink>
        <NuxtLink to="/contact">Contacte</NuxtLink>
      </div>
      <div id="icon">
        <a href="https://www.instagram.com/papilio.project/"><i class="bi bi-instagram"></i></a>
        <a href="https://twitter.com/PapilioProjecte"><i class="bi bi-twitter"></i></a>
        <a href="https://www.tiktok.com/@papilio.project">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
          fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16"> 
          <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z"/>
        </svg>
        </a>
      </div>
    </div>
  </div>
    </footer>
  </div>
</template>
