/**  font-family: 'Abril Fatface', cursive;

    font-family: 'Gothic A1', sans-serif; 
font-family: 'Abril Fatface', cursive;
**/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700;800&family=Poppins:wght@100&family=Rajdhani:wght@300&family=Teko:wght@400;500&display=swap');
*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
}


body {
    background-color: #e3efec;
    overflow-x: hidden;
    /* font-family: 'Dancing Script', cursive; */
}

h3 {
    font-weight: unset;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0 40px 0 0;
    padding: 0;
}

.title_content {
    font-size: 150%;
}

main {
    color: black;
    padding: 0 0 40px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
}

.principal {
    height: 100%;
}

#logointeractivo {
    width: 300px;
    margin-top: 100px;
}

img#papiliothegame_logo {
    height: 130px;
    position: absolute;
    right: 200px;
    top: 40px;
}
img#play_logo {
    height: 103px;
    position: absolute;
    left: 14%;
    bottom: 130px;
  }
#backgroundhome {
    background-size: cover;
    color: white;
    background-color: #2d3b38;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: -1px;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(img/papilioo.gif);
    box-shadow: inset 0px 0px 11px 15px rgb(0, 0, 0);
    border: #000 solid 40px;
    opacity: 1;
}

#background {
    background-size: cover;
    color: white;
    background-color: #2d3b38;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: -1px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 11px 15px rgb(0, 0, 0);
    border: #000 solid 40px;
    opacity: 1;
    background-image: url(img/fons.jpg);
}

#backgroundv {
    background-size: cover;
    color: white;
    background-color: #2d3b38;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: -1px;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: inset 0px 0px 11px 15px rgb(0, 0, 0);
    border: #000 solid 40px;
    opacity: 1;
    background-image: url(/img/fonsreproduccio.jpg);
}

#backgroundi {
    background-size: cover;
    color: white;
    background-color: #2d3b38;
    min-height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: -1px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    background-image: url(/img/fonsreproduccio.jpg);
}


.showMenu {
    padding: 40px 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    /* background: rgba(0,0,0,.3); */
}

#content-layout {}

.elementCard a {
    font-size: 110%;
}

.active_section {
    position: relative;
    top: 0;
    /* background: gray; */
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: openSection;
}

.showMenu {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: showMenu;
}

.fade {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-name: changeBackground;
}

@keyframes showMenu {
    0% {
        transform: translateY(-900%);
    }

    50% {
        transform: translateY(-70%);
    }

    100% {
        transform: translateY(-50%);
    }
}

p {
    max-width: 100%;
    margin: 0;
    padding: 5px;
}

.showMenu img {
    width: 500px;
    margin-top: -220px;
}

#footermenu a {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin-right: 25px;
    padding-top: 10px;
    color: white;
}

#footermenu {
    text-align: center;
}

.showMenu h1 {
    font-family:'Rajdhani', sans-serif;
    padding-bottom: 100px;
    color: whitesmoke;
    font-size: 15px;
    padding-top: -100px;
}

.showMenu a {
    font-family: 'Rajdhani', sans-serif;
    color: black;
}

#content-layout img {
    width: 500px;
}

#logofooter img {
    height: 50px;
}

#icon {
    font-size: 25px;
    color: white;
    text-align: right;
}

#content-layout h1 {
    font-family: 'Poppins', sans-serif;
}


a hover: {
    text-decoration: none;
}

a {
    text-decoration: none;
}

body {
    background-image: url('img/fons.png');
}

.modal-title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.fontmodal {
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}


/* buttons modal */
button.modal_button {
    background: none;
}

.textcontact p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.textcontact1 p {
    margin-top: 300px;
    margin-bottom: 20px;
}

textarea.form-control {
    min-height: calc(1.5em + 0.75rem + 2px);
    width: 50%;
    margin-left: 25%;
}

.textcontact2 {
    margin-top: 31px;
}

html,
body {
    padding: 0;
    margin: 0;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
}

.carousel {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.carousel__list {
    display: flex;
    list-style: none;
    position: relative;
    width: 100%;
    height: 300px;
    justify-content: center;
    perspective: 300px;
    padding: 0px;
    margin: 0px;
    margin-top: -100px;;
}

.carousel__item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 0px;
    width: 300px;
    height: 350px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.5);
    position: absolute;
    transition: all 0.3s ease-in;
}

.carousel__item:nth-child(1) {
    background: linear-gradient(45deg, #2d35eb 0%, #904ed4 100%);
    background-image: url('./img/01.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;

}

.carousel__item:nth-child(2) {
    background: linear-gradient(45deg, #2d35eb 0%, #fdbb2d 100%);
    background-image: url('./img/02.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item:nth-child(3) {
    background: linear-gradient(45deg, #2d35eb 0%, #22c1c3 100%);
    background-image: url('./img/03.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item:nth-child(4) {
    background: linear-gradient(45deg, #fdbb2d 0%, #904ed4 100%);
    background-image: url('./img/04.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item:nth-child(5) {
    background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
    background-image: url('./img/05.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item:nth-child(6) {
    background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
    background-image: url('./img/06.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item:nth-child(7) {
    background: linear-gradient(45deg, #22c1c3 0%, #904ed4 100%);
    background-image: url('./img/07.jpeg');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
}

.carousel__item[data-pos="0"] {
    z-index: 5;
}

.carousel__item[data-pos="-1"],
.carousel__item[data-pos="1"] {
    opacity: 0.7;
    filter: blur(1px) grayscale(10%);
}

.carousel__item[data-pos="-1"] {
    transform: translateX(-60%) scale(0.9);
    z-index: 4;
}

.carousel__item[data-pos="1"] {
    transform: translateX(60%) scale(0.9);
    z-index: 4;
}

.carousel__item[data-pos="-2"],
.carousel__item[data-pos="2"] {
    opacity: 0.4;
    filter: blur(3px) grayscale(20%);
}

.carousel__item[data-pos="-2"] {
    transform: translateX(-100%) scale(0.8);
    z-index: 3;
}

.carousel__item[data-pos="2"] {
    transform: translateX(100%) scale(0.8);
    z-index: 3;
}

#text_box {
    text-align: center;
    position: relative;
    top: -194px;
    font-weight: 700;
    font-size: 127%;
    color: white;
}

#text_box_top {
    text-align: center;
    position: relative;
    top: 160px;
    font-weight: 700;
    font-size: 127%;
    color: white;
}

footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    width: 100%;
}

.dosprojectes img {
    width: 230px;
    object-position: center center;
}

footer a:hover {
    font-weight: 900;
}

#projecte {
    text-align: center;
}

#projecte h1 {
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 130px;
    text-align: center;
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
}

#projecte h2 {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-bottom: 50px;
}

#projecte p {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
    color: orange;
}

#projecte h3 {
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    color: white;
}

footer i {
    margin-right: 15px;   
}
.play .opciones {
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 29px;
  padding-right: 8px;
}
.opciones p {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    font-family: 'Teko', sans-serif;
}

.opciones button {
    font-size: 30px;
    font-family:'Teko', sans-serif;
    background-color: transparent;
    border-color: orange;
    width: 300px;
}

.opciones h1 {
    margin-top: 40%;
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Teko', sans-serif;
}

.opciones h2 {
    font-size: 20px;
    color: white;
    font-family: 'Teko', sans-serif;
    
}

.opciones h3 {
    margin-top: 40px;
    font-size: 25px;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.opciones h4 {
    font-size: 15px;
    color: white;
    text-align: center;
    font-family: 'Teko', sans-serif;
    
}

.qr a {
  color: white;
}

#icon a {
    color: white;
  }

.qr p {
    margin-top: 10px;
    font-size: 19px;
    color: white;
}

.qr button {
    font-size: 20px;
    font-family:'Teko', sans-serif;
    background-color: transparent;
    border-color: orange;
    border-width: 3px;
    width: 300px;
    margin-top: 50px;
}

.show_more span {
color: white !important;
margin-top: 10px;

}

.start button {
    font-size: 20px;
    font-family:'Teko', sans-serif;
    background-color: transparent;
    border-color: orange;
    border-width: 3px;
    color: white;
    padding: 6px;
}

#options button {
    font-size: 25px;
    font-family:'Teko', sans-serif;
    background-color: transparent;
    border-color: orange;
    border-width: 3px;
    margin-top: 10px;
    color: white;
    padding: 6px;
    width: 160px;
}

#options h3 {
    font-family:'Teko', sans-serif;
    font-size: 40px;
}


/* Progress bar. */
.progress-bar {
  background-color: gray;
  margin: 8px;
}
.progress {
  background: transparent;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 10px;
  width: 100%;
}

.progress-value {
  animation: load 10s normal forwards;
  box-shadow: 0 10px 40px -10px #fff;
  background: #fff;
  height: 10px;
  width: 0;
}

@keyframes load {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
/* Footer responsive. */
#footermenu {
  text-align: center;
  margin-bottom: 16px;
}
div#logofooter {
  position: absolute;
  bottom: 6px;
  left: 22px;
}
div#icon {
  min-width: 160px;
  position: absolute;
  right: 21px;
  bottom: 12px;
}
.showMenu img {
  max-width: 90%;
}
#juego {
  width: 400px;
  max-width: 90%;
  opacity: 1;
  position: absolute;
  right: 32px;
  top: 152px;
}
@media screen and (max-width: 750px) {
.opciones h1 {
  margin-top: 15%;
  }
}
@media screen and (max-width: 500px) {
footer {
  height: auto;
}
#footermenu {
  margin-bottom: 68px;
}
.opciones h1 {
  margin-top: 26%;
}
}
