<template>
  <div class="body container">
    <div id='background'></div>
    <main>
        <div class="textcontact">
            <div class="textcontact1">
                <p>Si quieres contactar con nosotros, no dudes en enviarnos un mensaje:</p>
            </div>
            <div class="formdiv">
                <textarea class="form-control" placeholder="Leave a comment here"></textarea>
            </div>
            <div class="textcontact2">
                <p>O si lo prefieres puedes enviar un correo electrónico a: </p>
                <p>papilio@gmail.com</p>
            </div>

        </div>
    </main>
  </div>
</template>
