<template>
  <div class="body container">
    <div id='backgroundhome'></div>
    <div class="container">
        <div id="app" class="font_text">
            <main class="principal">
                <div id="content-layout">
                    <div class="showMenu">
                        <img src="/img/logo.png" />
                        <h1>Descubre la <strong>decisión</strong> de cambiar tu <strong>futuro.</strong></h1>
                    </div>
                </div>
            </main>

        </div>
    </div>
    <a @click="toogle_trailer">
      <img id="papiliothegame_logo" src="/img/thegame.png"/>
    </a>
    <NuxtLink to="/play">
      <img id="play_logo" src="/img/play.png"/>
    </NuxtLink>
     <video v-if="show_trailer" controls id="juego" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/anuncio.mp4" type="video/mp4">
      </video>
  </div>
</template>
<script>
export default {

  data() {
    return {
      show_trailer: null,
    }
  },
  methods: {
    toogle_trailer() {
      if ( this.show_trailer ) {
        this.show_trailer = null
      } else {
        this.show_trailer = true
      }
    }
  }

}
</script>
