<template>
  <div class="body container">
    <div id="player" style="display: none" class="reproductor play">
      <video id="video-1" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/inici.mp4" type="video/mp4">
      </video>
      <video id="video-2" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/cornflakes.mp4" type="video/mp4">
      </video>
      <video id="video-3" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/golden_puffs.mp4" type="video/mp4">
      </video>
      <video id="video-4" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/coche.mp4" type="video/mp4">
      </video>
      <video id="video-5" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/bici.mp4" type="video/mp4">
      </video>
      <video id="video-6" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/apagamovil.mp4" type="video/mp4">
      </video>
      <video id="video-7" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/noapagamovil.mp4" type="video/mp4">
      </video>
      <video id="video-8" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/pregunta.mp4" type="video/mp4">
      </video>
      <video id="video-9" preload>
        <source src="https://gitlab.com/edumag/papilio/-/raw/videos2/static/v/nopregunta.mp4" type="video/mp4">
      </video>
      <div class="botonera_videos customController">
        <span id="box_controls">
        <a id="play_button" @click="play_video">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Play</title>
            <path
              d="M112 111v290c0 17.44 17 28.52 31 20.16l247.9-148.37c12.12-7.25 12.12-26.33 0-33.58L143 90.84c-14-8.36-31 2.72-31 20.16z"
              fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
          </svg>
        </a>
        <a id="pause_button" @click="pause_video">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Pause Circle</title>
            <path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none"
              stroke="currentColor" stroke-miterlimit="10" stroke-width="32" />
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
              d="M208 192v128M304 192v128" />
          </svg>
        </a>
        <a id="unmuted_button" @click="unmuted_video">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Volume High</title>
            <path
              d="M126 192H56a8 8 0 00-8 8v112a8 8 0 008 8h69.65a15.93 15.93 0 0110.14 3.54l91.47 74.89A8 8 0 00240 392V120a8 8 0 00-12.74-6.43l-91.47 74.89A15 15 0 01126 192zM320 320c9.74-19.38 16-40.84 16-64 0-23.48-6-44.42-16-64M368 368c19.48-33.92 32-64.06 32-112s-12-77.74-32-112M416 416c30-46 48-91.43 48-160s-18-113-48-160"
              fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" />
          </svg>
        </a>
        <a id="muted_button" @click="muted_video">
          <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
            <title>Volume Mute</title>
            <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="32"
              d="M416 432L64 80" />
            <path fill="currentColor"
              d="M243.33 98.86a23.89 23.89 0 00-25.55 1.82l-.66.51-28.52 23.35a8 8 0 00-.59 11.85l54.33 54.33a8 8 0 0013.66-5.66v-64.49a24.51 24.51 0 00-12.67-21.71zM251.33 335.29L96.69 180.69A16 16 0 0085.38 176H56a24 24 0 00-24 24v112a24 24 0 0024 24h69.76l92 75.31a23.9 23.9 0 0025.87 1.69A24.51 24.51 0 00256 391.45v-44.86a16 16 0 00-4.67-11.3zM352 256c0-24.56-5.81-47.87-17.75-71.27a16 16 0 10-28.5 14.55C315.34 218.06 320 236.62 320 256q0 4-.31 8.13a8 8 0 002.32 6.25l14.36 14.36a8 8 0 0013.55-4.31A146 146 0 00352 256zM416 256c0-51.18-13.08-83.89-34.18-120.06a16 16 0 00-27.64 16.12C373.07 184.44 384 211.83 384 256c0 23.83-3.29 42.88-9.37 60.65a8 8 0 001.9 8.26L389 337.4a8 8 0 0013.13-2.79C411 311.76 416 287.26 416 256z" />
            <path fill="currentColor"
              d="M480 256c0-74.25-20.19-121.11-50.51-168.61a16 16 0 10-27 17.22C429.82 147.38 448 189.5 448 256c0 46.19-8.43 80.27-22.43 110.53a8 8 0 001.59 9l11.92 11.92a8 8 0 0012.92-2.16C471.6 344.9 480 305 480 256z" />
          </svg>
        </a>
        <a style="color: white;" id="fullscreen" @click="toogle_fullscreen">
          <svg style="fill: white; width: 22px;"  version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            viewBox="0 0 1000 1000"
             pagecolor="#ffffff"
            >
            <g fill="currentColor" stroke="currentColor">
              <path style="fill:#ffffff" fill="currentColor" stroke="currentColor" d="M867.4,581.9v285.4H581.9V990H990V581.9H867.4z"/>
              <path style="fill:#ffffff" fill="currentColor" stroke="currentColor" d="M132.6,867.4V581.9H10V990h408.1V867.4H132.6z"/>
              <path style="fill:#ffffff" fill="currentColor" stroke="currentColor" d="M132.6,132.6h285.4V10H10v408.1h122.6V132.6z"/>
              <path style="fill:#ffffff" fill="currentColor" stroke="currentColor" d="M581.9,10v122.6h285.4v285.4H990V10H581.9z"/>
            </g>
          </svg>
        </a>
        <!-- monitoreo -->
        <span v-if="monitoreo">
          <a style="color: white;" id="avanza" @click="avanza">
            [>>]
          </a>
          <span id="time">
            {{ current_time }} / {{ duration }} [{{ status.current_step }}] {{ status.option_1 }}/{{ status.option_2 }}
            <span v-if="session"> [{{ session.id }}]</span>
          </span>
        </span>
        </span>

        <div v-if="show_options" id="options">

          <h1 v-if="end" class="opciones">The End</h1>
          <h3 v-else>{{ options[status.current_step - 1].ask }}</h3>
          <div v-if="!end" class="container">
            <div class="row">
              <div class="col">
                <button @click="vote(1, 0)">{{ options[status.current_step - 1].option1
                }}</button>
              </div>
              <div class="col">
                <button @click="vote(2, 0)">{{ options[status.current_step - 1].option2
                }}</button>
              </div>
            </div>
            <div class="progress-bar">
              <div class="progress-value"></div>
            </div>
          </div>
        </div>
    </div>
      </div>

    <div id="options_init" class="container">
      <div id='backgroundv'></div>
      <div id="app" class="font_text">
        <main class="principal">
          <div class="opciones">
            <div v-if="mostrar_opciones" class="row">
              <div class="col">
                <h1>¿Desea vivir esta aventura interactiva en solitario?</h1>
                <button @click="play_video_individual" class="btn btn-primary" type="submit">INDIVIDUAL</button>
              </div>
              <div class="col">
                <h1>¿Desea vivir esta aventura interactiva en grupo?</h1>
                <button @click="play_video_group" class="btn btn-primary" type="submit">GRUPAL</button>
              </div>
            </div>
            <div v-if="mostrar_qr" class="row justify-content-evenly">
              <div class="col">
                <div class="qr">
                  <p>Todos los usuarios que vayan a participar en esta experiencia deben escanear el código QR en sus
                    dispositivos para poder escoger entre las opciones que saldrán a continuación y tomar una decisión
                    conjunta.</p>

                  <p>Una vez el tiempo de tomar la decisión haya finalizado, la decisión más votada entre todos los
                    usuarios será mostrada. En caso de empate, la opción escogida siempre será la primera.</p>

                  <p>Una vez todos hayan escaneado el código QR ya pueden darle al botón de empezar y disfrutar de esta
                    experiencia conjuntamente.</p>
                </div>
              </div>
              <div class="col">
                <div class="row qr">
                  <div class="col">
                    <vue-qr :text="'https://papilio.lesolivex.com/votes/' + session_id" :size="400"></vue-qr>
                    <p><a :href="'https://papilio.lesolivex.com/votes/' + session_id">{{
                        'https://papilio.lesolivex.com/votes/' + session_id
                    }}</a></p>
                    
                  </div>
                </div>
              </div>
              <div class="start">
                <button @click="comenzar_reproduccion">Comenzar reproducción</button>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>
<script>

// import vueQr from 'vue-qr/src/packages/vue-qr.vue'  
import VueQr from 'vue-qr'
import axios from 'axios'

export default {

  components: { VueQr },
  data() {
    return {
      monitoreo: null,
      session_id: null,
      session: null,
      play: null,
      vid: null,
      video: 'video-1',
      next_video: null,
      playButton: null,
      pauseButton: null,
      mutedButton: null,
      unmutedButton: null,
      fullscreen: null,
      mostrar_qr: null,
      mostrar_opciones: true,
      duration: 0,
      current_time: 0,
      show_options: null,
      end: null,
      end_step: 0,
      voto_inicio_opciones: null,
      status: {
        'current_step': 1,
        'option_1': 0,
        'option_2': 0,
      },
      options: [
        { ask: '¿Qué cereales va a desayunar Buba?', option1: 'Corn Flecks', option2: 'Golden Puffs', time: 5000 },
        { ask: '¿Cómo irá Buba al trabajo?', option1: 'En coche', option2: 'En bicicleta', time: 5000 },
        { ask: '¿Apagar móvil?', option1: 'Si', option2: 'No', time: 5000 },
        { ask: '¿Preguntar de donde ha sacado toda esa información?', option1: 'Sí', option2: 'No', time: 5000 },
      ],

    }
  },
  methods: {
    async createSession() {
      let res = await axios.post("/api/session");
      if (res) {
        console.log(res)
        this.session_id = res.data.id
        this.getSession(this.session_id)
      }
    },
    play_video_group() {
      this.createSession()
      this.mostrar_opciones = null
      this.mostrar_qr = true
    },
    play_video_individual() {
      this.createSession()
      this.play_video()
    },
    toogle_fullscreen() {
      if (this.fullscreen) {
        this.closeFullscreen()
        this.fullscreen = null
      } else {
        this.openFullscreen()
        this.fullscreen = true
      }
      // let vid = this.vid
      // if(vid.requestFullScreen){
      //   vid.requestFullScreen();
      // } else if(vid.webkitRequestFullScreen){
      //   vid.webkitRequestFullScreen();
      // } else if(vid.mozRequestFullScreen){
      //   vid.mozRequestFullScreen();
      // }
    },
    openFullscreen() {
      let elem = document.getElementById('player')
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
      }
    },
    closeFullscreen() {
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.webkitExitFullscreen) { /* Safari */
        document.webkitExitFullscreen();
      } else if (document.msExitFullscreen) { /* IE11 */
        document.msExitFullscreen();
      }
    },
    avanza() {
      this.vid.currentTime = this.vid.currentTime + 10;
    },
    settime() {
      setInterval(function () {
        this.duration = Math.round(this.vid.duration)
        this.current_time = Math.round(this.vid.currentTime)
        if ((this.duration - this.current_time) < 11) {

          // Generamos votos para señalar inicio de votación.
          if (!this.voto_inicio_opciones) {
            this.vote(2, 1)
            this.voto_inicio_opciones = true
          }
          this.getSession(this.session_id)
          if (!this.end) {
            this.show_options = true
          }

          // Definir siguiente vídeo.
          if (this.status.current_step == 1) {
            if (this.status.option_1 > this.status.option_2) {
              this.next_video = 'video-2'
            } else if (this.status.current_step == 1 && this.status.option_1 < this.status.option_2) {
              this.next_video = 'video-3'
            } else {
              this.next_video = 'video-2'
            }
          }
          if (this.status.current_step == 2) {
            if (this.status.option_1 > this.status.option_2) {
              this.next_video = 'video-4'
            } else if (this.status.current_step == 1 && this.status.option_1 < this.status.option_2) {
              this.next_video = 'video-5'
            } else {
              this.next_video = 'video-4'
            }
          }
          if (this.status.current_step == 3) {
            if (this.status.option_1 > this.status.option_2) {
              this.next_video = 'video-6'
            } else if (this.status.current_step == 1 && this.status.option_1 < this.status.option_2) {
              this.next_video = 'video-7'
            } else {
              this.next_video = 'video-6'
            }
          }

        }
        if (this.status.current_step < 4 && (this.duration - this.current_time) < 1) {
          this.end_step = this.current_step
          this.change_video()
        }
      }.bind(this), 1000);
    },
    change_video() {
      console.log('Change video: ' + this.next_video)
      this.status.current_step++
      this.vote(1, 1)
      this.voto_inicio_opciones = null
      this.show_options = null
      this.video = this.next_video
      this.play_video()
      // Recorremos todos los videos y display: none
      for (let i = 1; i < 11; i++) {
        let id = 'video-' + i
        document.getElementById(id).style = 'display: none'
        document.getElementById(id).pause()
      }
      document.getElementById(this.video).style = 'display: block'
      document.getElementById(this.video).play()
      console.log('Reproducimos: ' + this.video)

    },
    async getSession(session_id) {
      let res = await axios.get("/api/session/" + session_id);
      if (res) {
        this.session = res.data
        // Determinar current step.
        if (this.session.Vote.length > 0) {
          // let last_vote = this.session.Vote[this.session.Vote.length - 1]
          // Filtrar Votes por steps, options
          this.status.option_1 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 1)).length;
          this.status.option_2 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 2)).length;
        } else {
          this.status.current_step = 1
          this.status.option_1 = 0
          this.status.option_2 = 0
        }
        console.log({ status: this.status })
      } else {
        console.error(res)
      }
      if (this.status.current_step == 4) {
        this.end = true
      }
    },
    async vote(option, voto_inicial) {
      console.log('Option. ' + option)

      await axios.post("/api/vote", {
        session_id: this.session.id,
        step: this.status.current_step,
        option: option
      }).then(res => {
        console.log({ 'res': res })
        // this.step++
        // this.getSession()
        if (voto_inicial == 0) {
          this.voto_realizado(this.status.current_step)
        } else {
          this.end = null
        }
      }).catch(function (error) {
        if (error.response) {
          // Request made and server responded
          console.log(error.response.data);
          console.log(error.response.status);
          console.log(error.response.headers);
        } else if (error.request) {
          // The request was made but no response was received
          console.log(error.request);
        } else {
          // Something happened in setting up the request that triggered an Error
          console.log('Error', error.message);
        }
      });
    },
    voto_realizado(step) {
      this.show_options = null
      this.end = true
    },
    comenzar_reproduccion() {
      this.vote(1, 1)
      this.play_video()
    },
    play_video() {
      this.play = true
      if (typeof window !== 'undefined') {
        this.vid = document.getElementById(this.video);
        this.playButton = document.getElementById("play_button");
        this.pauseButton = document.getElementById("pause_button");
        this.mutedButton = document.getElementById("muted_button");
        this.unmutedButton = document.getElementById("unmuted_button");
        document.getElementById('options_init').style = 'display: none'
        document.getElementById('player').style = 'display: block'
        document.querySelector('footer').style = 'display: none'
        this.vid.play();
        this.pauseButton.style.display = "inline";
        this.playButton.style.display = "none";
      }
      this.settime()
    },
    pause_video() {
      console.log('PAUSE')
      this.vid.pause();
      this.playButton.style.display = "inline";
      this.pauseButton.style.display = "none";
    },
    unmuted_video() {
      this.vid.muted = false;
      this.unmutedButton.style.display = "none";
      this.mutedButton.style.display = "inline";
    },
    muted_video() {
      console.log(this.vid)
      this.vid.muted = true;
      this.unmutedButton.style.display = "inline";
      this.mutedButton.style.display = "none";
    },
  },
  mounted() {
    // if (typeof window !== 'undefined') {

    //     // @todo https://github.com/Freshman-tech/custom-html5-video

    //     this.vid = document.getElementById("video-01");
    //     this.playButton = document.getElementById("play_button");
    //     this.pauseButton = document.getElementById("pause_button");
    //     this.mutedButton = document.getElementById("muted_button");
    //     this.unmutedButton = document.getElementById("unmuted_button");
    // }
  },
}
</script>
<style>
.old_body {
  color: white;
  background: black;
  margin: 0;
  background: #000;
}

#video-1,
#video-2,
#video-3,
#video-4,
#video-5,
#video-6,
#video-7,
#video-8,
#video-9,
#video-10 {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  /* background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat; */
  background-size: cover;
  transition: 1s opacity;
}

#video-2,
#video-3,
#video-4,
#video-5,
#video-6,
#video-7,
#video-8,
#video-9,
#video-10 {
  display: none;
}

.botonera_videos {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 98%;
}

.ionicon {
  color: white;
  height: 40px;
}

#muted_button,
#play_button {
  display: inline;
}

#pause_button,
#unmuted_button {
  display: none;
}

.stopfade {
  opacity: .5;
}

.play #main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.play #textbox {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.play h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}

.play #textbox button {
  display: inline;
  width: 40%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255, 255, 255, 0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}

.play #textbox button:hover {
  background: rgba(0, 0, 0, 0.5);
}

.play a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: .5rem;
  /* background: rgba(0, 0, 0, 0.5); */
  /* transition: .6s background; */
}

.play a:hover {
  background: rgba(0, 0, 0, 0.9);
}

.qr {
  margin-top: 26px;
}

#time,
#options {
  width: 300px;
  color: white;
}

div#options {
  text-align: center;
  width: 100%;
}

.customController {
  z-index: 2147483647;
}
.botonera_videos {
  color: #fff;
  text-decoration: none;
  padding: .5rem;
}

#box_controls {
  opacity: 0.2;
  background: rgba(0, 0, 0, 0.5);
  transition: .6s background;
  padding: 16px;
}
#box_controls:hover {
  opacity: 1;
}
a#fullscreen {
  margin-left: 9px;
}
main {
padding: 60px;
}
</style>
