<template>
  <div class="body container">
    <div id="projecte">
      <div id='background'></div>
      <main>
      <div class="container">
        <div id="app" class="font_text">
        </div>
      </div>
      <h1><strong>Papilio</strong> és un projecte transmèdia conformat per diferents canals d’interacció que tracta el tema de la
        casualitat vs la causalitat mitjançant l’efecte papallona.</h1>
      <h2>Aquest projecte consta d’un nucli unificat de la web, on es mostra el teaser del curtmetratge interactiu on l’espectador tindrà la oportuni
        tat d’escollir el desenllaç de la història. Tanmateix, s’ofereix la pos sibilitat de conèixer altres parts del projecte, com el videojoc.</h2>
      <div class="container">
        <div class="dosprojectes">
          <div class="row">
            <div class="col"></div>
             <div class="col" title="Papilio, el cortometraje">                  
              <div class="show_more">                                           
                <img src="/img/cartellcurt.jpg" />                              
                <span style="display:none;">EL CORTOMETRAJE</span>             
              </div>                                                            
            </div>
            <div class="col"></div>
            <div class="col"></div>
               <div class="col" title="Papilio, el videojuego">                  
              <div class="show_more">                                           
                <img src="/img/cartelljoc.jpg" />                           
                 <span style="display:none;">EL VIDEOJUEGO</span>            
              </div>                                                            
            </div>
            <div class="col"></div>  
            </div>
            </div>
        <p>EXEMPCIÓ DE RESPONSABILITAT</p>
        <h3>No es tracta d’un projecte comercial, Papilio està creat per un grup d’artistes procedents de la província de Girona.</h3>
      </div>
      </main>
    </div>
  </div>
</template>
<style>                                                                         
.show_more:hover span {                                                         
  display: block  !important;                                                   
}                                                                               
</style>