<template>
  <div class="body container votes">
    <div id="options_init" class="container">
      <div id='backgroundi'></div>
      <div id="app" class="font_text">
        <main class="principal">
        <div class="opciones">
      <img id="logointeractivo" src="/img/logointeractivo.png" />
          <p v-if="end" class="opciones">Fin</p>
          <div v-else  class="container">
              <div v-if="!botones_desactivados" class="row">
                <p >{{ options[status.current_step - 1].ask }}</p>
                <div class="col">
                  <button :disabled="botones_desactivados" @click="vote(1)" class="btn btn-primary btn-lg">{{ options[status.current_step - 1].option1 }}</button>
                </div>
                <div class="col">
                  <button :disabled="botones_desactivados" @click="vote(2)" class="btn btn-secondary btn-lg">{{ options[status.current_step - 1].option2 }}</button>
                </div>
                <div class="progress-bar">
                  <div class="progress-value"></div>
                </div>
              </div>
              <div v-else class="row">
                <div class="col">
                  <h3>Espere por favor</h3>
                  <h4 v-if="status.current_step == 1 && ! sesion_iniciada" >En breve empezará la sesión</h4>
                </div>
              </div>
          </div>

        </div>
        </main>
      </div>
    </div>

  </div>
</template>
<script>
import axios from 'axios'
export default {
  layout: 'empty',
  data() {
    return {
      session: null,
      session_id: null,
      botones_desactivados: true,
      end: null,
      sesion_iniciada: null,
      iniciar_paso: true,
      paso_iniciado: 0,
      paso_activo: 0,
      status: {
        'current_step': 1,
        'option_1': null,
        'option_2': null,
      },

      options: [
        { ask: '¿Qué cereales va a desayunar Buba?', option1: 'Corn Flecks', option2: 'Golden Puffs', time: 12000},
        { ask: '¿Cómo irá Buba al trabajo?', option1: 'En coche', option2: 'En bicicleta', time: 134000},
        { ask: '¿Apagar móvil?', option1: 'Si', option2: 'No', time: 97000},
        { ask: 'Preguntar de donde ha sacado toda esa información', option1: 'Sí', option2: 'No', time: 90000},
      ],

      /*
        Si escoge que no - video 6 y luego el 7
        Si escoge que si - video 7 directamente.
      */
    }
  },
  methods: {
    async createSession() {
      let res = await axios.post("/api/session");
    },
    voto_realizado(step) {
      // Desactivamos botones.
      this.botones_desactivados = true
      if ( step == 4 ) {
        // Proceso concluido.
        this.end = true
      }
    },
    sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    },
    async getSession(session_id) {
      let res = await axios.get("/api/session/" + session_id);
      if ( res ) {
        this.session = res.data
        // Determinar current step.
        if ( this.session && this.session.Vote && this.session.Vote.length > 0 ) {

          this.sesion_iniciada = true
          let last_vote = this.session.Vote[this.session.Vote.length - 1]
          if ( last_vote.step != this.status.current_step ) {
            // cambio de video, iniciamos proceso.
            console.log('last_vote: ' + last_vote.step)
            this.iniciar_paso = true
            this.botones_desactivados = true
          }

          this.paso_iniciado = last_vote.step
          this.status.current_step = last_vote.step 
          // Filtrar Votes por steps, options
          this.status.option_1 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 1)).length;
          this.status.option_2 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 2)).length;
        } else {
          this.status.current_step = 1
          this.status.option_1 = 0
          this.status.option_2 = 0
        }
      } else {
        console.error(res)
      }
      if ( this.status.current_step == 4 ) {
        this.end = true
      }
    },
    async vote(option) {
      console.log('Option. ' + option)

      await axios.post("/api/vote", {
        session_id: this.session.id,
        step: this.status.current_step,
        option: option
        }).then(res => {
          console.log({'res': res})
          // this.step++
          // this.getSession()
          this.voto_realizado(this.status.current_step)
        }).catch(function (error) {
          if (error.response) {
            // Request made and server responded
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
        });
    },
    async settime() {
      await setInterval(function(){

        this.getSession(this.$route.params.id)

        console.log('[' + this.status.current_step + '] ' + this.status.option_1 + '/' + this.status.option_2 + '(' + this.paso_iniciado + '/' + this.paso_activo  + ')')

        if ( this.status.option_2 > 0 && this.paso_activo != this.paso_iniciado ) {
          // Se muestran botones.
          this.botones_desactivados = null
          this.iniciar_paso = null
          this.paso_activo = this.status.current_step
        }

        if ( this.paso_activo != this.paso_iniciado  ) {
          this.botones_desactivados = true
        }

      }.bind(this),1000);
    },
  },
  async mounted() {
    await this.settime()
  }
};
</script>
<style>
.votes button.btn.btn-primary.btn-lg {
  margin: 16px;
}
.votes .opciones p {
margin-top: 5px;
margin-bottom: 5px;
}
</style>
